h1 {
    color: blueviolet;
}
h2{
    text-align:center;
}
button{
    color:brown;
}
hr{
    color:black;
    width: 100px;
    height: 5px;
    fill: brown;
}
p{
    font-family:Calibri;
}

